body{background-color: grey;
color: white;
display: grid;
grid-template-columns: 100vw;
grid-template-rows: auto;
grid-template-areas: 
"nav"
"main"
"footer"}

.on,.off {display: none;}

nav{
    grid-area: nav;
    max-height: 55px;
    position: sticky;
    top: 0%;
    left: 0%;
    display: grid;
    grid-template-columns: 10vw 10vw 20vw 60vw;
    grid-template-rows: auto;
    grid-template-areas: 
    ". navlogo name navul";
    z-index: 999;
    justify-items: center;
    align-items: center;
    font-size: 18px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.homelink, img.thelogo{
    position: relative;
    grid-area: navlogo;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.name{
    position: relative;
    grid-area: name;
    text-align: center;
    color: violet;
    justify-self: left;
}

nav ul{
    position: relative;
    grid-area: navul;
}

nav ul li{
    float: left;
    position: relative;
    text-align: center;
}


nav ul li a{
    display: inline-block;
    background-color:rgb(36, 36, 36);
    padding: 0.4em;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    font-size: 16px;
    margin: 0.2em;
    border: 3px solid transparent;
    transition: all 0.4s ease;
}

nav ul li a:hover{
    background-color: rgb(130, 130, 130);
    color: rgb(110, 18, 216);
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    transition: all 0.4s ease;
}

.hpmain {
    grid-area: main;
    position: relative;
    display: grid;
    grid-template-columns: 29vw 69vw;
    grid-template-rows: auto;
    grid-template-areas: 
    ". thetitle"
    ". thedescription";
    justify-items: center;
    align-items: center;
    min-height: 88vh;
}

.thetitle{
    grid-area: thetitle;
    color: violet;
    position: relative;
    display: block;
    text-align: center;
    background-color: transparent;
    font-size: 60px;
    width: 70vw;
    min-height: 31vh;
    margin: 1em;
}

.thedescription{
    grid-area: thedescription;
    position: relative;
    display: inline-block;
    background-color: rgb(36, 36, 36);
    padding: 0.5em;
    border-radius: 1em;
    font-size: 20px;
    margin: 5em;
}