body{background-color: grey;
color: white;
display: grid;
grid-template-columns: 100vw;
grid-template-rows: auto;
grid-template-areas: 
"nav"
"main"
"footer"}

.on,.off {display: none;}

/* example for comments */



.hpmain {
    grid-area: main;
    position: relative;
    display: grid;
    grid-template-columns: 29vw 69vw;
    grid-template-rows: auto;
    grid-template-areas: 
    ". thetitle"
    ". thedescription";
    justify-items: center;
    align-items: center;
    min-height: 88vh;
}

.thetitle{
    grid-area: thetitle;
    color: violet;
    position: relative;
    display: block;
    text-align: center;
    background-color: transparent;
    font-size: 60px;
    width: 70vw;
    min-height: 31vh;
    margin: 1em;
}

.thedescription{
    grid-area: thedescription;
    position: relative;
    display: inline-block;
    background-color: rgb(36, 36, 36);
    padding: 0.5em;
    border-radius: 1em;
    font-size: 20px;
    margin: 5em;
}