body{   
    background-color: rgb(22, 22, 22);
    color: white;
    }

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav {
    background-color: rgb(22, 22, 22);
}

main {background-color: transparent;}

footer{
    background-color: palevioletred;
    grid-area: footer;
}